.card-featured {
  display: block;
  text-decoration: none;
}
.card-featured__preview {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 133.33333%;
  transform: translateZ(0);
  border-radius: 1.8rem;
}
.card-featured__image-container, .card-featured__video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.card-featured__video-container {
  display: none;
}
.card-featured__image, .card-featured__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-featured__caption {
  max-width: 94%;
  margin-top: 24px;
  margin-bottom: 4rem;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #ffffff;
}
@media (pointer: fine) {
  .card-featured__image-container {
    transition: opacity 0.4s, transform 0.6s;
  }
  .card-featured__video-container {
    display: block;
    opacity: 0;
    transition: opacity 0.4s, transform 0.6s;
  }
  .card-featured:hover .card-featured__video-container {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}
@media (pointer: fine) and (pointer: fine) {
  .card-featured:hover .card-featured__image-container {
    opacity: 0;
    transform: scale(1.05);
    transition-delay: 0.2s, 0s;
  }
}
@media (min-width: 768px) {
  .card-featured__preview {
    border-radius: 4rem;
  }
  .card-featured__caption {
    max-width: 65%;
    margin-top: 3.2rem;
    margin-bottom: 0;
    font-size: 2.4rem;
  }
}

.featured {
  position: relative;
  color: #fff;
}
.featured__fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.featured__fill.-inverse {
  background: #000;
}
.featured__fill.-primary {
  background: #161616;
}
.featured__content {
  position: relative;
}
.featured__content.-rt {
  padding-top: 6rem;
}
.featured__container {
  padding: 0 6.6666666667vw;
}
.featured__container.-lg {
  padding: 0 4vw;
}
.featured__title {
  font-size: 6.1rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
.featured__left, .featured__right {
  display: grid;
  grid-auto-rows: min-content;
  gap: 2rem;
}
.featured__right {
  margin-top: 2rem;
}
.featured__items {
  margin: 4rem 0 0 0;
}
@media (min-width: 768px) {
  .featured__fill {
    border-radius: 8rem 8rem 0 0;
  }
  .featured__container {
    padding: 0 6.6666666667vw;
  }
  .featured__container.-lg {
    padding: 0 10.625vw;
  }
  .featured__content.-rt {
    padding-top: 120px;
  }
  .featured__header {
    font-size: 15.4rem;
  }
  .featured__left, .featured__right {
    gap: 10rem;
  }
  .featured__right {
    margin-top: 33.1rem;
  }
  .featured__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    max-width: 80rem;
    margin: 120px 0 0 0;
  }
}
@media (min-width: 1920px) {
  .featured__container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.topHead {
  padding-top: 80px;
}
.topHead__title-wrapper {
  max-width: 70%;
}
.topHead__title {
  font-size: 100px;
  font-weight: 300;
  line-height: 1.2;
}
.topHead__inner {
  overflow-x: hidden;
}

.aki__line {
  position: relative;
  overflow: hidden !important;
}

.card-portfolio {
  position: relative;
}
.card-portfolio:hover .card-portfolio__image-container::before {
  opacity: 0.7;
}
.card-portfolio:hover .card-portfolio__info-container {
  opacity: 1;
}
.card-portfolio:hover .card-portfolio__action {
  opacity: 1;
}
.card-portfolio__info-container {
  position: absolute;
  top: 24px;
  right: 24px;
  left: 24px;
  z-index: 2;
  opacity: 0;
  transition: 0.4s ease;
}
.card-portfolio__title {
  font-size: 42px;
  color: #fff;
  letter-spacing: 1.2px;
  font-weight: 300;
}
.card-portfolio__info {
  font-size: 14px;
  color: #fff;
  line-height: 1.7;
}
.card-portfolio__image-container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.card-portfolio__image-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #000000;
  opacity: 0;
  transition: 0.4s ease;
}
.card-portfolio__image {
  width: 100%;
  height: auto;
}
.card-portfolio__action {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  transition: 0.4s ease;
}
.card-portfolio__btn {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 42px;
}
.card-portfolio__btn-icon {
  width: 24px;
  height: 24px;
  fill: #222;
}
.card-portfolio__btn-badge {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  position: absolute;
  top: -11px;
  right: -6px;
  background-color: red;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 24px;
}

.portfolio .wrapper-masonry {
  margin-top: 42px;
}
.portfolio .grid-item {
  margin-bottom: 20px;
  height: auto;
  border-radius: 5px;
}
.portfolio .masonry-layout {
  --columns: 1;
  --gap: 2rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
}
.portfolio .masonry-layout > div > img,
.portfolio .masonry-layout > div > div {
  width: 100%;
  margin-bottom: 2rem;
}
.portfolio .masonry-layout.columns-1 {
  --columns: 1;
}
.portfolio .masonry-layout.columns-2 {
  --columns: 2;
}
.portfolio .masonry-layout.columns-3 {
  --columns: 3;
}
.portfolio .masonry-layout.columns-4 {
  --columns: 4;
}
.portfolio__header {
  max-width: 50%;
  margin-bottom: 80px;
}
.portfolio__grid {
  display: grid;
  margin: 0px auto;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio__action {
  margin-top: 42px;
  text-align: center;
}

/*# sourceMappingURL=home.css.map*/