@use '_config.scss' as *;
@use './config/_reset.scss' as *;
@use './sections/_section-feature.scss' as *;
@use './components/sidemenubox/_sideMenuBox.scss' as *;
@use './components/buttons/_button-primary-outline.scss' as *;
@use './components/buttons/_button-floating-contact.scss' as *;
@import "~mouse-follower/dist/mouse-follower.min.css";

// |‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾| //
// | Timedoor New Standard                   | //
// |_________________________________________| //

.ratio-item {
    @extend %ratioItem;
}

// default styling, please delete when making theme for wordpress
.navbar-brand {
    width: 150px;
    img {
        width: 100%;
        height: auto;
    }
}

@supports (mix-blend-mode: exclusion) {
    .mf-cursor.-exclusion,
    .mf-cursor.-opaque {
        mix-blend-mode: exclusion;
    }
    .mf-cursor.-exclusion:before,
    .mf-cursor.-opaque:before {
        background: #fff;
    }
}
// .mf-cursor.-pointer:before {
//     transform: scale(0.15);
// }
.mf-cursor.-pointer.-active:before,
.cb-menu.-open .cb-menu-toggle button.mf-cursor.-pointer:before {
    transform: scale(0.1);
}
.mf-cursor.-opaque:before {
    transform: scale(1.32);
}
.mf-cursor.-opaque.-active:before,
.cb-menu.-open .cb-menu-toggle button.mf-cursor.-opaque:before {
    transform: scale(1.2);
}

.mf-cursor.-menu:before {
    transform: scale(1.32);
}
.mf-cursor.-menu.-active:before,
.cb-menu.-open .cb-menu-toggle button.mf-cursor.-menu:before {
    transform: scale(1.2);
}
