@use 'sass:math';
@use '../_config.scss' as *;
.cb-tophead-title {
    font-weight: 300;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.04em;
    max-width: 81%;

    h1{
        font-weight: 300;
    }
}

.aki__line{
    position: relative;
    overflow: hidden !important;
}
